profile                = "PROFILE_NAME"        # e.g. work
region                 = "REGION"              # e.g. ap-northeast-1
ami_id                 = "AMI_ID"              # e.g. ami-b4b0eab2
instance_type          = "INSTANCE_TYPE"       # e.g. t2.micro
volume_size            = "VOLUME_SIZE"         # e.g. 10
app_name               = "APPLICATION_NAME"    # e.g. MyApp
app_version            = "APPLICATION_VERIONS" # e.g. v1
environment            = "ENVIRONMENT"         # e.g. prod
vpc_cidr_block         = "10.0.0.0/16"
subnet_cidr_block_az_a = "10.0.16.0/24"
subnet_cidr_block_az_c = "10.0.32.0/24"
allowed_ip             = "0.0.0.0/0"
key_name               = "KEY_NAME"
