profile       = "PROFILE_NAME" # e.g. work
region        = "REGION" # e.g. ap-northeast-1
ami_id        = "AMI_ID" # e.g. ami-b4b0eab2
instance_type = "INSTANCE_TYPE" # e.g. t2.micro
app_name      = "APPLICATION_NAME" # e.g. MyApp
